# Analisis y Prediccion de Ventas en una Tineda de Retail

1. Preparacion de entorno
- Tranajo dentro del mismo repositorio del proyecto Primera parte
- Activo el Virtaul enviroment que estoy ocupando para este proyecto
- Creo el nuevo .ipynb dentro del notebook folder

2. Carga de Datos
- Importamos las librerias necesarias
- Cargamos los dotos ocupando Pandas en un DataFrame

In [1]:
import pandas as pd

In [7]:
#Cargar datos con pandas
df = pd.read_csv('C:/Users/damav/Desktop/Codingdojo/clases/ratail-sales-analysis/data/retail_sales_dataset.csv')
print(df.head(10))

   Transaction ID        Date Customer ID  Gender  Age Product Category  \
0               1  2023-11-24     CUST001    Male   34           Beauty
1               2  2023-02-27     CUST002  Female   26         Clothing
2               3  2023-01-13     CUST003    Male   50      Electronics
3               4  2023-05-21     CUST004    Male   37         Clothing
4               5  2023-05-06     CUST005    Male   30           Beauty
5               6  2023-04-25     CUST006  Female   45           Beauty
6               7  2023-03-13     CUST007    Male   46         Clothing
7               8  2023-02-22     CUST008    Male   30      Electronics
8               9  2023-12-13     CUST009    Male   63      Electronics
9              10  2023-10-07     CUST010  Female   52         Clothing

   Quantity  Price per Unit  Total Amount
0         3              50           150
1         2             500          1000
2         1              30            30
3         1             500           500
4         2              50           100
5         1              30            30
6         2              25            50
7         4              25           100
8         2             300           600
9         4              50           200

3. Exploracion Inicial de los Datos

In [10]:
#Examinamos la ultimas 5 filas del DataFrame
print(df.tail())

     Transaction ID        Date Customer ID  Gender  Age Product Category  \
995             996  2023-05-16     CUST996    Male   62         Clothing
996             997  2023-11-17     CUST997    Male   52           Beauty
997             998  2023-10-29     CUST998  Female   23           Beauty
998             999  2023-12-05     CUST999  Female   36      Electronics
999            1000  2023-04-12    CUST1000    Male   47      Electronics

     Quantity  Price per Unit  Total Amount
995         1              50            50
996         3              30            90
997         4              25           100
998         3              50           150
999         4              30           120

In [11]:
#Optenemso informacion general del DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   object
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
dtypes: int64(5), object(4)
memory usage: 70.4+ KB

In [13]:
#Optenemos metricas generales del DataFrame
df.describe()

       Transaction ID         Age     Quantity  Price per Unit  Total Amount
count     1000.000000  1000.00000  1000.000000     1000.000000   1000.000000
mean       500.500000    41.39200     2.514000      179.890000    456.000000
std        288.819436    13.68143     1.132734      189.681356    559.997632
min          1.000000    18.00000     1.000000       25.000000     25.000000
25%        250.750000    29.00000     1.000000       30.000000     60.000000
50%        500.500000    42.00000     3.000000       50.000000    135.000000
75%        750.250000    53.00000     4.000000      300.000000    900.000000
max       1000.000000    64.00000     4.000000      500.000000   2000.000000

4. Inspeccion de los Datos

In [14]:
#Funcion para ver el tipo de datos segun las columnas del DataFrame
def data_type():
    type = []
    for columns in df.columns:
        type.append((columns, df[columns].dtype))
    print("The type of data is:")
    for column, dtype in type:
        print(f"{column}: {dtype}")

In [45]:
#Imprimos los tios de datos
print(data_type())

#or
print('Los tipos de datos son')
print(df.dtypes)

The type of data is:
Transaction ID: int64
Date: object
Customer ID: object
Gender: object
Age: int64
Product Category: object
Quantity: int64
Price per Unit: int64
Total Amount: int64
None
Los tipos de datos son
Transaction ID       int64
Date                object
Customer ID         object
Gender              object
Age                  int64
Product Category    object
Quantity             int64
Price per Unit       int64
Total Amount         int64
dtype: object

In [31]:
#Contamos los valores unicos de la coluna Product Category, ya no hay una que sea solo Producto
numero_de_producto = df['Product Category'].value_counts()

print(f'La cantidad de valores por categoria son: \n{numero_de_producto}')

La cantidad de valores por categoria son:
Product Category
Clothing       351
Electronics    342
Beauty         307
Name: count, dtype: int64

In [32]:
#Contamos los valores unicos en la columna Produc Category
valores_unicos = df['Product Category'].nunique()

print(f'Los valores unicos son: {valores_unicos}')

Los valores unicos son: 3

5. Filtrado de Datos

In [51]:
#Filtramos el DataFrame para optener solo las ventas mayores a 150. Filtra por 50 no añadira mucho cambio. 
filtro_ventas1 = df[df['Total Amount'] > 150]
print('Data Frame de las ventas sean mayor a 50:')
print(filtro_ventas1)

Data Frame de las ventas sean mayor a 50:
     Transaction ID        Date Customer ID  Gender  Age Product Category  \
1                 2  2023-02-27     CUST002  Female   26         Clothing
3                 4  2023-05-21     CUST004    Male   37         Clothing
8                 9  2023-12-13     CUST009    Male   63      Electronics
9                10  2023-10-07     CUST010  Female   52         Clothing
12               13  2023-08-05     CUST013    Male   22      Electronics
..              ...         ...         ...     ...  ...              ...
983             984  2023-08-29     CUST984    Male   56         Clothing
985             986  2023-01-17     CUST986  Female   49         Clothing
986             987  2023-04-29     CUST987  Female   30         Clothing
989             990  2023-05-25     CUST990  Female   58           Beauty
993             994  2023-12-18     CUST994  Female   51           Beauty

     Quantity  Price per Unit  Total Amount
1           2             500          1000
3           1             500           500
8           2             300           600
9           4              50           200
12          3             500          1500
..        ...             ...           ...
983         1             500           500
985         2             500          1000
986         3             300           900
989         2             500          1000
993         2             500          1000

[458 rows x 9 columns]

In [57]:
#Filtramos el DataFrame, para precios mayores a 240. Filtra por 0.5 no añadira mucho cambio. 
filtro_precio = df[df['Price per Unit'] > 250]
print(filtro_precio)

     Transaction ID        Date Customer ID  Gender  Age Product Category  \
1                 2  2023-02-27     CUST002  Female   26         Clothing
3                 4  2023-05-21     CUST004    Male   37         Clothing
8                 9  2023-12-13     CUST009    Male   63      Electronics
12               13  2023-08-05     CUST013    Male   22      Electronics
14               15  2023-01-16     CUST015  Female   42      Electronics
..              ...         ...         ...     ...  ...              ...
983             984  2023-08-29     CUST984    Male   56         Clothing
985             986  2023-01-17     CUST986  Female   49         Clothing
986             987  2023-04-29     CUST987  Female   30         Clothing
989             990  2023-05-25     CUST990  Female   58           Beauty
993             994  2023-12-18     CUST994  Female   51           Beauty

     Quantity  Price per Unit  Total Amount
1           2             500          1000
3           1             500           500
8           2             300           600
12          3             500          1500
14          4             500          2000
..        ...             ...           ...
983         1             500           500
985         2             500          1000
986         3             300           900
989         2             500          1000
993         2             500          1000

[396 rows x 9 columns]

In [63]:
#Filtramos el DataFrame con Query, caundo Product Category es igual a "Electronics". Mondicamos manzana por Electronics
query_resultados = df.query("`Product Category` == 'Electronics' and `Total Amount` > 30")
print(query_resultados)

     Transaction ID        Date Customer ID  Gender  Age Product Category  \
7                 8  2023-02-22     CUST008    Male   30      Electronics
8                 9  2023-12-13     CUST009    Male   63      Electronics
12               13  2023-08-05     CUST013    Male   22      Electronics
14               15  2023-01-16     CUST015  Female   42      Electronics
17               18  2023-04-30     CUST018  Female   47      Electronics
..              ...         ...         ...     ...  ...              ...
984             985  2023-05-30     CUST985  Female   19      Electronics
991             992  2023-08-21     CUST992  Female   57      Electronics
992             993  2023-02-06     CUST993  Female   48      Electronics
998             999  2023-12-05     CUST999  Female   36      Electronics
999            1000  2023-04-12    CUST1000    Male   47      Electronics

     Quantity  Price per Unit  Total Amount
7           4              25           100
8           2             300           600
12          3             500          1500
14          4             500          2000
17          2              25            50
..        ...             ...           ...
984         2              25            50
991         2              30            60
992         3              50           150
998         3              50           150
999         4              30           120

[308 rows x 9 columns]

6. Slicing de Datos

In [66]:
#Seleccionamos solos las columnas Product Category y Total Amount.
df_product_ventas = df[['Product Category', 'Total Amount']]

#Imprimimos el DataFrme filtrado
print(df_product_ventas)

    Product Category  Total Amount
0             Beauty           150
1           Clothing          1000
2        Electronics            30
3           Clothing           500
4             Beauty           100
..               ...           ...
995         Clothing            50
996           Beauty            90
997           Beauty           100
998      Electronics           150
999      Electronics           120

[1000 rows x 2 columns]

In [68]:
#Usamos loc para mostras las filas del 5 a 10(inclusive) de dos columnas
filtro_loc = df.loc[5:10, ['Customer ID', 'Product Category']]

print (filtro_loc)

   Customer ID Product Category
5      CUST006           Beauty
6      CUST007         Clothing
7      CUST008      Electronics
8      CUST009      Electronics
9      CUST010         Clothing
10     CUST011         Clothing

In [69]:
#Usamos iloc para mostrar las primeras 5 filas y las primeras 3 columnas del DataFrame
filtro_iloc = df.iloc[:5,:3]

print(filtro_iloc)

   Transaction ID        Date Customer ID
0               1  2023-11-24     CUST001
1               2  2023-02-27     CUST002
2               3  2023-01-13     CUST003
3               4  2023-05-21     CUST004
4               5  2023-05-06     CUST005